<%	 provide(:title, "About") %>

<a class="a-home-button" href="/">
  <%=	 image_tag("lz.png",class: 'img-home-btn') %>
</a>

<div class="title-container">
  <%=	 image_tag("title-image_about.png",class: "title-image") %>
</div>

<div class="avatar-container">
  <a href=<%=	 about_path %>>
    <%=	 image_tag "avatar.png", class: "avatar" %>
  </a>
</div>

<div class="article-title-container">
  <h1 class="h1-title">A small bio for the interested</h1>
  <p class="intro">
    More than you'd probably like to know about me
  </p>
</div>

<div class="about-profile-container">
  <div style="width: 80%;margin-left: 10%;text-align: center;margin-top: -70px">
    <p>
      <strong>Zhou Liu</strong>
      <br/>
      Student at <a href="http://english.bupt.edu.cn/" style="text-decoration: none;color: #2a6496">BUPT</a>
    </p>
    <div style="border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 30px 0">
      <a href="Mailto:liuzhouwork@gmail.com" target="_blank" style="text-decoration: none;color: #8f65ca">Email</a>
      <a href="http://weibo.com/3714449272/profile?topnav=1&wvr=6" target="_blank" style="text-decoration: none;color: #8f65ca"> Weibo </a>
      <a href="https://github.com/alamier" target="_blank" style="text-decoration: none;color: #8f65ca"> GitHub </a>
      <a href="https://twitter.com/liuzhouwork" target="_blank" style="text-decoration: none;color: #8f65ca"> Twitter </a>
      <a href="https://www.facebook.com/profile.php?id=100005024494036" target="_blank" style="text-decoration: none;color: #8f65ca">Facebook</a>
    </div>
  </div>
</div>