<%	 provide(:title, "About") %>

<a class="a-home-button" href="/">
  <%=	 image_tag("lz.png",class: 'img-home-btn') %>
</a>

<div class="title-container">
  <%=	 image_tag("title-image_about.png",class: "title-image") %>
</div>

<div class="avatar-container">
  <a href=<%=	 about_path %>>
    <%=	 image_tag "avatar.png", class: "avatar" %>
  </a>
</div>

<div class="article-title-container">
  <h1 class="h1-title">A small bio for the interested</h1>
  <p class="intro">
    More than you'd probably like to know about me
  </p>
</div>

<div class="article-container" style="padding-top: 0">
  Born and raised in Boulder, Colorado, I grew up on a healthy diet of rocks and spent my childhood constructing electo-mechanical contraptions and pursuing various methods of scaling and descending elevated objects including roof tops, cliffs, trees, canyons, and mountains.

  I have an engineering degree with an electrical specialty from the Colorado School of Mines. I worked 30 hrs a week during most of college, first at NCAR where I babysat the super computers, and then at NA Tech where I constructed robots with lasers on them, self erecting wind towers, induction heating robotic deck plate straighteners, and many other neural network powered robotic systems. When I graduated I came on full time as the 4th employee and would end up working there for almost 3 years.

  After the robots, I moved up the software stack, away from embedded systems and ran product at Blue Dot Solutions where Kate and I traveled the world living abroad in Scotland and pushing the boundaries of mobile enterprise software.

  From there, I jumped at the chance to join GitHub in the very beginning of 2011 as one of the first 20 employees. In my first couple of years, I worked on everything from the public API on GitHub.com to spearheading the GitHub for Windows application from conception to 1.0 release. These days I'm back in product with a focus on the core web application that powers GitHub.com and GitHub Enterprise.

  I currently live in the San Francisco hills with my wife Kate and our two children.
</div>