/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    word-wrap: break-word;
    font-family: Helvetica;
}

blockquote {
    background: gainsboro;
    margin: 10px 20px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.comments-container {
    width: 65%;
    margin: 0 auto;
}

.comment {
    padding: 1.5em 2em;
    border-bottom: 1px solid #eee;
}

.comment_name {
    font-size: 1.2em;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    color: black;
}

.comment_time {
    margin-left: 2em;
    font-size: 0.8em;
    color: #c7c7c7;
    font-family: Georgia;
}

.comment_body {
    font-family: "Times New Roman", Times, serif,Georgia;
}

.wrapper-main {
    min-height:100%;
    position:relative;
}

.main-content-container{
    padding-bottom: 80px;
}

.home-word-container{
    font-size: 55px;
    color: #ffffff;
    margin-top: 275px;
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: Helvetica, Arial, Sans-Serif;
}

.pre-article-body{
    font-family: Georgia;
    white-space: normal;
}

.title-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
}

.avatar-container {
    width: 80%;
    border-top: 1px solid #adadad;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.avatar {
    z-index: 1;
    margin-top: -33px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

.title-image {
    width: 100%;
    height: auto;
    display: block;
}

.footer-container {
    /*margin-top: 200px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #eee;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 20px;
    text-align: center;
    color: #adadad;
}

.footer-item {
    color: #adadad;
    text-decoration: none;
}

.footer-item:hover {
    color: #2E2F30;
}

.article-title-container {
    margin-top: -15%;
    margin-bottom: 15%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.h1-title {
    color:#fff;
    font-width: bold;
    font-size: 36px;
    font-family: "Helvetica";
    margin-bottom: 10px;
    margin-top: 20px;
}

.h1-form-title{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-width: bold;
    font-family: "Helvetica";
}

.form-container {
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    font-family: "Helvetica";
}

.intro {
    color: #adadad;
    font-style: italic;
    font-size: 20px;
    font-family: "Georgia";
}

.primary-btn {
    color:#fff;
    background-color: #286090;
    border-color: #204d74;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 12px;
    line-height: 1.428571429;
    font-size: 14px;
    width: 100%;
}

.btn-delete {
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    text-decoration: none;
    background-color: #ff313d;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-delete:hover {
    background-color: red;
}


.primary-btn:hover,.primary-btn:focus{
    background-color: #0d95fc;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.428571429;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.flash-danger {
    margin-left: auto;
    margin-right: auto;
    background-color:#eed6d6 ;
    color: #a05050;
    border-radius: 4px;
    line-height: 2;
    font-size: 20px;
    font-family: "Helvetica";
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.article-container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    font-size: 20px;
    font-family: Georgia;
    line-height: 1.6;
}

.posts-container {
    position: relative;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    font-size: 20px;
    font-family: Georgia;
    line-height: 1.6;
}

.date {
    margin-top: 0;
    font-size: 85%;
    color: #c7c7cc;
    font-family: Georgia;
    box-sizing: border-box;
}

.footer-intro {
    color: #4a4a4a;
    font-family: Georgia;
    line-height: 1.6;
}

.footer-avatar-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 150px;
    border-top: 1px solid #ccc;
}

.h2-post-list {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 30px;
}

.h2-post-list a{
    color: #428bca;
    text-decoration: none;
    font-family: Helvetica;
    line-height: 1.1;
}

.h2-post-list a:hover {
    text-decoration: underline;
}

.a-home-button {
    position: fixed;
    top: 20px;
    margin-left: 5%;
    z-index: 10;
    text-align: center;
    color: #0d95fc;
    font-family: Helvetica;
}

.img-home-btn {
    width: 50px;
}

.span-home-button:before{
    content: '\f0d7';
    box-sizing: border-box;
}

.date a{
    text-decoration: inherit;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.article-editor-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.article-title-editor{
    width: 100%;
    padding: 6px 12px;
    line-height: 1.4;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    font-size: 36px;
    font-weight: bold;
}

.comment-name-editor{
    width: 100%;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.comment-body-editor{
    width: 100%;
    height: 200px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.article-body-editor{
    width: 100%;
    height: 500px;
    padding: 6px 12px;
    line-height: 1.6;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    font-size: 15px;
    font-family: Georgia;
}

.CodeRay {
    display: block;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: gainsboro;
    width: 100%;
    font-family: "Menlo","Anonymous Pro", "Inconsolata",  "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.CodeRay tbody{
    display: block;
    font-size: 13px;
    width: 100%;
}

.CodeRay tbody tr {
    display: block;
    overflow: scroll;
}

.line-numbers {
    background-color: #4C5550;
    padding: 0 5px;
    color: #74817a;
    border-right: 1px solid #555;
    text-align: center;
}

.line-numbers pre {
}

.line-numbers a{
    font-family: "Menlo", "Anonymous Pro", "Inconsolata", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 15px;
    text-decoration: none;
    color: gray;
}

.code{
    border: 0;
    padding: 0;
    width: 100%;
}

.code pre {
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: block;
    border-spacing: 0;
    overflow: visible;
}

pre span{
    display: inline-block;
    line-height: 22px;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .article-title-container{width: 85%;}
    .article-title-container h1{font-size: 27px}
    .article-title-container p {font-size: 19px}
    .home-word-container{margin-top: 275px;font-size: 45px}
}

@media (max-width: 996px) {
    .article-title-container h1{font-size: 23px}
    .article-title-container p {font-size: 13px}
    .home-word-container{margin-top: 210px;font-size: 36px}
}

@media (max-width: 768px) {
    .article-container {width: 90%;}
    .posts-container {width: 75%}
    .footer-avatar-container {width: 70%}
    .a-home-button {position: absolute;}
    .article-title-container{width: 90%;margin-top: -25%}
    .article-title-container h1{font-size: 23px}
    .article-title-container p {font-size: 13px}
    .home-word-container{margin-top: 125px;font-size: 25px}
}

@media (max-width: 550px) {
    .article-title-container{width: 100%;margin-top: 0%;text-align: center}
    .article-title-container h1{font-size: 18px;margin-bottom: 0;margin-top: 0;color: black}
    .article-title-container p {font-size: 10px}
    .home-word-container{margin-top: 75px}
}


